[Desktop Entry]
Type=Application
Exec={file}
Last=/home/mistermine01/.tohutoro/autostart.sh
Terminal=true
Name=tohutoro
Comment=make an Autostart
X-GNOME-Autostart-enabled=true
